pipeline/MetadataDrivenCopyTask_BottomLevel.json
{
	"name": "MetadataDrivenCopyTask_BottomLevel",
	"properties": {
		"description": "This pipeline will copy objects from one group. The objects belonging to this group will be copied parallelly.",
		"activities": [
			{
				"name": "ListObjectsFromOneGroup",
				"description": "List objects from one group and iterate each of them to downstream activities",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ObjectsPerGroupToCopy",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "RouteJobsBasedOnLoadingBehavior",
							"description": "Check the loading behavior for each object if it requires full load or incremental load. If it is Default or FullLoad case, do full load. If it is DeltaLoad case, do incremental load.",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "GetSourceConnectionValues",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "GetDestinationConnectionValues",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "FullLoad",
										"activities": [
											{
												"name": "FullLoadOneObject",
												"description": "Take a full snapshot on this object and copy it to the destination",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "@{json(item().SourceObjectSettings).schema}.@{json(item().SourceObjectSettings).table}"
													},
													{
														"name": "Destination",
														"value": "@{json(item().SinkObjectSettings).fileSystem}/@{json(item().SinkObjectSettings).folderPath}/@{json(item().SinkObjectSettings).fileName}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "@json(item().CopySourceSettings).sqlReaderQuery",
															"type": "Expression"
														},
														"partitionOption": {
															"value": "@json(item().CopySourceSettings).partitionOption",
															"type": "Expression"
														},
														"partitionSettings": {
															"partitionColumnName": {
																"value": "@json(item().CopySourceSettings).partitionColumnName",
																"type": "Expression"
															},
															"partitionUpperBound": {
																"value": "@json(item().CopySourceSettings).partitionUpperBound",
																"type": "Expression"
															},
															"partitionLowerBound": {
																"value": "@json(item().CopySourceSettings).partitionLowerBound",
																"type": "Expression"
															},
															"partitionNames": "@json(item().CopySourceSettings).partitionNames"
														}
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings",
															"maxRowsPerFile": 1000,
															"fileNamePrefix": {
																"value": "@json(item().SourceObjectSettings).table",
																"type": "Expression"
															}
														}
													},
													"enableStaging": false,
													"enableSkipIncompatibleRow": false,
													"validateDataConsistency": false,
													"logSettings": {
														"enableCopyActivityLog": true,
														"copyActivityLogSettings": {
															"logLevel": "Info",
															"enableReliableLogging": true
														},
														"logLocationSettings": {
															"linkedServiceName": {
																"referenceName": "ADLSGen2",
																"type": "LinkedServiceReference",
																"parameters": {
																	"StorageAccName": "azsaws",
																	"SecretName": "ADLS-azsaws-AccessKey"
																}
															},
															"path": "world-wide-imports"
														}
													},
													"translator": {
														"value": "@json(item().CopyActivitySettings).translator",
														"type": "Expression"
													}
												},
												"inputs": [
													{
														"referenceName": "MetadataDrivenCopyTask_SourceDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@json(item().SourceObjectSettings).schema",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@json(item().SourceObjectSettings).table",
																"type": "Expression"
															},
															"cw_ls_ServerName": {
																"value": "@json(activity('GetSourceConnectionValues').output.value[0].ConnectionSettings).ServerName",
																"type": "Expression"
															},
															"cw_ls_DatabaseName": {
																"value": "@json(activity('GetSourceConnectionValues').output.value[0].ConnectionSettings).DatabaseName",
																"type": "Expression"
															},
															"cw_ls_UserName": {
																"value": "@json(activity('GetSourceConnectionValues').output.value[0].ConnectionSettings).UserName",
																"type": "Expression"
															},
															"cw_ls_SecretName": {
																"value": "@json(activity('GetSourceConnectionValues').output.value[0].ConnectionSettings).SecretName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "MetadataDrivenCopyTask_DestinationDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_fileName": {
																"value": "@json(item().SourceObjectSettings).table",
																"type": "Expression"
															},
															"cw_folderPath": {
																"value": "@concat(json(item().SourceObjectSettings).schema,'/',json(item().SourceObjectSettings).table)",
																"type": "Expression"
															},
															"cw_fileSystem": {
																"value": "@json(item().SinkObjectSettings).fileSystem",
																"type": "Expression"
															},
															"cw_ls_StorageAccName": {
																"value": "@json(activity('GetDestinationConnectionValues').output.value[0].ConnectionSettings).StorageAccName",
																"type": "Expression"
															},
															"cw_ls_SecretName": {
																"value": "@json(activity('GetDestinationConnectionValues').output.value[0].ConnectionSettings).SecretName",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "DefaultFullLoadOneObject",
										"description": "Take a full snapshot on this object and copy it to the destination",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Source",
												"value": "@{json(item().SourceObjectSettings).schema}.@{json(item().SourceObjectSettings).table}"
											},
											{
												"name": "Destination",
												"value": "@{json(item().SinkObjectSettings).fileSystem}/@{json(item().SinkObjectSettings).folderPath}/@{json(item().SinkObjectSettings).fileName}"
											}
										],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "@json(item().CopySourceSettings).sqlReaderQuery",
													"type": "Expression"
												},
												"partitionOption": {
													"value": "@json(item().CopySourceSettings).partitionOption",
													"type": "Expression"
												},
												"partitionSettings": {
													"partitionColumnName": {
														"value": "@json(item().CopySourceSettings).partitionColumnName",
														"type": "Expression"
													},
													"partitionUpperBound": {
														"value": "@json(item().CopySourceSettings).partitionUpperBound",
														"type": "Expression"
													},
													"partitionLowerBound": {
														"value": "@json(item().CopySourceSettings).partitionLowerBound",
														"type": "Expression"
													},
													"partitionNames": "@json(item().CopySourceSettings).partitionNames"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": false,
											"validateDataConsistency": false,
											"logSettings": {
												"enableCopyActivityLog": true,
												"copyActivityLogSettings": {
													"logLevel": "Info",
													"enableReliableLogging": true
												},
												"logLocationSettings": {
													"linkedServiceName": {
														"referenceName": "ADLSGen2",
														"type": "LinkedServiceReference",
														"parameters": {
															"StorageAccName": "azsaws",
															"SecretName": "ADLS-azsaws-AccessKey"
														}
													},
													"path": "world-wide-imports"
												}
											},
											"translator": {
												"value": "@json(item().CopyActivitySettings).translator",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "MetadataDrivenCopyTask_SourceDS",
												"type": "DatasetReference",
												"parameters": {
													"cw_schema": {
														"value": "@json(item().SourceObjectSettings).schema",
														"type": "Expression"
													},
													"cw_table": {
														"value": "@json(item().SourceObjectSettings).table",
														"type": "Expression"
													},
													"cw_ls_ServerName": {
														"value": "@json(activity('GetSourceConnectionValues').output.value[0].ConnectionSettings).ServerName",
														"type": "Expression"
													},
													"cw_ls_DatabaseName": {
														"value": "@json(activity('GetSourceConnectionValues').output.value[0].ConnectionSettings).DatabaseName",
														"type": "Expression"
													},
													"cw_ls_UserName": {
														"value": "@json(activity('GetSourceConnectionValues').output.value[0].ConnectionSettings).UserName",
														"type": "Expression"
													},
													"cw_ls_SecretName": {
														"value": "@json(activity('GetSourceConnectionValues').output.value[0].ConnectionSettings).SecretName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "MetadataDrivenCopyTask_DestinationDS",
												"type": "DatasetReference",
												"parameters": {
													"cw_fileName": {
														"value": "@json(item().SinkObjectSettings).fileName",
														"type": "Expression"
													},
													"cw_folderPath": {
														"value": "@json(item().SinkObjectSettings).folderPath",
														"type": "Expression"
													},
													"cw_fileSystem": {
														"value": "@json(item().SinkObjectSettings).fileSystem",
														"type": "Expression"
													},
													"cw_ls_StorageAccName": {
														"value": "@json(activity('GetDestinationConnectionValues').output.value[0].ConnectionSettings).StorageAccName",
														"type": "Expression"
													},
													"cw_ls_SecretName": {
														"value": "@json(activity('GetDestinationConnectionValues').output.value[0].ConnectionSettings).SecretName",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "GetSourceConnectionValues",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select ConnectionSettings from @{pipeline().parameters.ConnectionControlTableName}\n                                where Name = '@{item().SourceConnectionSettingsName}'",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "MetadataDrivenCopyTask_ControlDS",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "GetDestinationConnectionValues",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select ConnectionSettings from @{pipeline().parameters.ConnectionControlTableName}\n                                where Name = '@{item().SinkConnectionSettingsName}'",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "MetadataDrivenCopyTask_ControlDS",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ObjectsPerGroupToCopy": {
				"type": "Array"
			},
			"ConnectionControlTableName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MetadataDrivenCopyTask_zyh_20240727"
		},
		"annotations": []
	}
}